#listing-container {
  max-width: 1180px;
  margin: 0 auto;
  font-size: 14px;
  width: 100%;

  .glow-border {
    border-radius: 20%;
    animation: pulse 3s infinite;
    margin: 0 auto;
    display: table;
    margin-top: 50px;
    animation-direction: alternate;
    -webkit-animation-name: pulse;
    animation-name: pulse;
  }

  .list-group {
    width: 100%;
    color: black;
    margin-bottom: 0.5rem;
    .list-group-item {
      &.active {
        cursor: pointer;
      }
      &.button {
        transition: all 0.5s;
        cursor: pointer;
        span {
          cursor: pointer;
          display: inline-block;
          position: relative;
          transition: 0.5s;
          &:after {
            content: "\00bb";
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
            transition: 0.5s;
          }
        }
        &:hover {
          span {
            padding-right: 25px;
            &:after {
              opacity: 1;
              right: 0;
            }
          }
        }
        a {
          color: #fff;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .list-wrapper {
    .list-group-horizontal {
      margin: 1rem 0;
      padding: 0 2rem;
      flex-direction: column;
      .list-group-item {
        border-radius: 0 !important;
        &.active {
          margin: 0 !important;
          border: 0 !important;
        }
      }
    }
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
